# main ip address that custom domains redirected
export MASTER_IP=xxx.xxx.xxx.xxx

# mongo db uri of radiks
export MONGO_URI=mongodb://0.0.0.0:27017/db-name

# connection string of local db
export LOCAL_DB_URI=postgresql://talhasch:@localhost:5434/dbname

# nginx file directory
export CONF_DIR=/foo/bar

# nginx config file name (under CONF_DIR) to write
export CONF_FILE=custom.conf

# letsencrypt base dir
export CERT_BASE_DIR=/etc/letsencrypt/live

# for certbot http challenging
export CERT_WEB_ROOT=/var/www/letsencrypt-challenge

# email for acme account
export CERT_EMAIL=hello@runkod.com